.newslist__item {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  margin-top: 0px;
  padding: 8px 5px 0 5px;
}

.newslist__item h2 {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
  color: #525252;
}

.newslist__item a {
  text-decoration: none;
}

.newslist__wrapper {
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.8s ease-in;
}

.newslist__wrapper__enter {
  opacity: 1;
  transform: translateX(0%);
}

.flex_wrapper {
  display: flex;
  border-bottom: 2px solid #d5d5d5;
  background: #fff;
}

.left {
  background-size: cover !important;
}

.left div {
  width: 90px;
  height: 90px;
  background-size: 40px !important;
  background-position: center !important ;
  background-repeat: no-repeat !important;
}

.right {
  flex-grow: 1;
  padding: 10px;
}

.right h2 {
  font-size: 12px;
  color: #525252;
}
